html,
body {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-family: MyriadPro, sans-serif;
}

@font-face {
   font-family: MyriadPro;
   src: url('../fonts/MyriadPro-Regular.otf');
}

/* general */
.how-we-work-for-you-section,
.companies-from-myjobsadvisor,
.recent-opinion{
  padding-top: 5%;
  padding-bottom: 5%;
}

.result-company-section{
    padding-bottom: 30px;
}

.certify-sign{
    color: green;
    font-size: 27px;
}

/* puntaje */


.form-rating p {
  text-align: center;
}

.form-rating .label-star {
  font-size: 25px;
}

.form-rating input[type="radio"] {
  display: none;
}

.form-rating .label-star {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.form-rating .label-star:hover,
.form-rating .label-star:hover ~ .label-star {
  color: orange;
}

.form-rating input[type="radio"]:checked ~ label {
  color: orange;
}

.form-rating h5 {
  font-weight: bold;
}



/* navbar layouts */

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-brand{
  float: left;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

.navbar-default .navbar-right>li>a{
  color: #fff;
}

.topnav{
  padding-top: 35px;
}

.navbar-default-register-companie{
    background-color: white;
    height: 85px;
    border-radius: 0px;
    margin-bottom: 0;
    box-shadow: 0px 1px 10px #ccc;
}

.btn-login,
.btn-register{
  margin-top: 10px;
}

.navbar-collapse .avatar {
    background: #fff;
    border-radius: 500px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.avatar img{
    width: 30px;
    height: 30px;
}

.navbar-right{
    margin-top: 15px;
}
.navbar-right ul{
    margin-top: -2px;
    margin-left: 10px;
}

.navbar-right li>a{
    color: #000;
    margin-left: 10px;
}
.navbar-right li>a:hover{
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #000;
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    text-decoration: underline;
    background-color: transparent;
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #fff;
}

.navbar-default .btn-link {
    color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
}

.btn-link {
    font-weight: 400;
    color: #000;
    border-radius: 0;
}

.btn-link:focus, .btn-link:hover {
    color: #000;
    text-decoration: underline;
    background-color: transparent;
}


/* pagina para login */
.login-section{
    padding-top: 50px;
    padding-bottom: 100px;
}

/* welcome-header */


.welcome-header {
  background-image: url("../images/myjobsadvisor-welcome-picture.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}

.pattern{
    height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
}

.intro-message{
  margin-top: 13%;
  margin-bottom: 20%;
  color: #f8f8f8;
}

.intro-message h1{
  font-size: 65px;
  font-weight:700;
}

.search-input,
.search-btn{
  width: 60px;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;
}

.navbar-form .form-control {
  width: 600px;;
}

.navbar-form {
  margin-left: 230px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  
}

/* index */
.register-company-section-index{
    padding-bottom: 40px;
}

/* register companie*/
.register-header{
  background-color: #eee;
}

.register-company-section{
    padding-bottom: 40px;
    padding-top: 40px;
}
/* register user */
.register-section{
    padding-top: 40px;
    padding-bottom: 20px;
}

/* login */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}


/* how we work section */

/* footer */
footer{
  background-color: #293A52;
  color: white;
  padding-top: 2%;
  padding-bottom: 1%;
}

/* profile user */
.profile-user-header{
  background-color: #eee;
  height: 350px;
}
#user-card .following-data{
    width: 12%;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#user-card .following-data a{
    color: #444;
}
#user-card .following-data a:hover{
    color: black;
    text-decoration: none;
}

#user-card .following-data .label-stat{
    display: block;
}

#user-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.opinions-section{
  padding-top: 2%;
  padding-bottom: 2%;
}

.avatar .user-logo-opinion{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user-logo-opinion-comment{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 10px;
}

/* profile company */

.profile-company-header{
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 5px;
}

.modal-body span{
  font-size: 20px;
  color: blue;
}

.company-logo, .company-pp-list{
    width: 100px;
    height: 100px;
}

.profile-picture-company{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}



/* boton para subir imagenes */
input[id=file] {
    display: none;
}

.comment-form .label-img{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

.comment-form .label-img:hover{
    cursor: pointer;
    color: grey;
}

/* search */

.search-result{
    padding-top: 10%;
    padding-bottom: 10%;
}

/* panel administrador */



/* responsive para login */

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
