html,
body {
    height: 100%;
}

/* pagination */

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #002F6D;
    border: 1px solid transparent;
    border-radius: 15px;
}

.pager li>a:hover, .pager li>a:focus {
    text-decoration: none;
    background-color: #194F91;
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
    background-color: grey;
}

/* end pagination*/

/* general */
.how-we-work-for-you-section,
.companies-from-myjobsadvisor,
.recent-opinion{
    padding-top: 4%;
    padding-bottom: 5%;
}

.recent-opinion .opinions{
    color: #E75402;
}

.companies-from-myjobsadvisor .company{
    color: #E75402;
}

.how-we-work-for-you-section .our-process{
    color: #E75402;
}



.certify-sign{
    color: green;
    font-size: 27px;
}

.profiles-hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: .5px dotted #95a5a6;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.media {
    margin-top: 0;
}

.btn-page{
    color: #ffffff;
    background-color: #002F6D;
    border-color: #002F6D;
}

.btn-page:hover{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}
.btn-page:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-page:active{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.no-margin{
    margin: 0;
}

/* end general*/

/* serch section */
.result-company-section{
    margin-top: 6%;
}

.links-search{
    color: #002F6D;
}

.links-search:hover{
    color: #FF9E1B;
}

.links-search-website{
    color: #FF9E1B;
}

.links-search-website:hover{
    color: #002F6D;
}
/* end search section*/

/* following section */

.following-section{
    padding-top: 6%;
}
/* end following section */

/* likes section */
.like-section{
    padding-top: 6%;
}
/* end likes section*/

/* contact section */

.contact-section{
    padding-top: 10%;
    padding-bottom: 5%;
}

.btn-contact{
    color: #ffffff;
    background-color: #002F6D;
    border-color: #002F6D;
}

.btn-contact:hover{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-contact:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-contact:active{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}


.btn-contact:active:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.social-links{
    color:#002F6D;
}

.social-links:hover{
    text-decoration: underline;
    background-color: transparent;
    color: #E75402;
}
/* end section */

/* slide */

.quotes-slider{
    background-color: #002F6D;
    color: white;
    font-size: 30px;
    padding-top: 2%;
}

.quotes-slider b{
    font-size: 25px;
}
.quotes-slider #slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
}

.quotes-slider #slides ul {
    list-style: none;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    position: relative;
}

.quotes-slider #slides li {
    width: 100%;
    height: 250px;
    float: left;
    text-align: center;
    position: relative;
    font-family: lato, sans-serif;
}


/* end slide */

/* puntaje */


.form-rating p {
    text-align: center;
}

.form-rating .label-star {
    font-size: 25px;
}

.form-rating input[type="radio"] {
    display: none;
}

.form-rating .label-star {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.form-rating .label-star:hover,
.form-rating .label-star:hover ~ .label-star {
    color: orange;
}

.form-rating input[type="radio"]:checked ~ label {
    color: orange;
}

.form-rating h5 {
    font-weight: bold;
}
/* end puntaje*/



/* navbar layouts */

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default-alternative {
    background-color: #FFF;
    box-shadow: 0px -10px 50px 0px #888888;
}

.navbar {
    border-width: 0 0 1px;
}

.navbar-default-alternative .navbar-nav>li>a {
    color: #002F6D;
}

.navbar-default-alternative .navbar-nav>li>.btn-link{
    font-weight: 400;
    color: #002F6D;
    border-radius: 0;
}
.navbar-default-alternative .navbar-nav>li>.btn-link:hover, .navbar-default-alternative .navbar-nav>li>.btn-link:focus {
    text-decoration: underline;
    background-color: transparent;
    color:  #E75402;
}

.navbar-default-alternative .nav>li>a:hover, .navbar-default-alternative .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
    color:  #E75402;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;

}

.navbar-header>.navbar-brand {
    float: left;
    padding: 13px 15px;
    font-size: 19px;
    line-height: 21px;
}

.navbar-brand>.img-movil{
    display: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FF5C00;
}

.navbar-collapse .avatar {
    background: #fff;
    border-radius: 500px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}

.avatar img{
    width: 30px;
    height: 30px;
}

.navbar-nav>.user-logged-in {
    float: left;
    line-height: 60px;
}

.nav>.signin-movil{
    display: none;
}

#nav-movil{
    display: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
    color: #FF9E1B;
}

.navbar-default .btn-link:hover, .navbar-default .btn-link:focus  {
    text-decoration: underline;
    background-color: transparent;
    color: #FF9E1B;
}

.btn-sign-in{
    color: #ffffff;
    background-color: #002F6D;
    border-color: #002F6D;
}

.btn-sign-in:hover{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-default:focus, .btn-default.focus {
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.open>.dropdown-toggle.btn-sign-in:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-sign-in:active:hover{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-sign-in:active:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-search{
    color: #ffffff;
    background-color: #002F6D;
    border-color: #002F6D;
}

.btn-search:hover{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}
.btn-search:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}

.btn-search:active{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}
.btn-search:active:focus{
    color: #ffffff;
    background-color: #194F91;
    border-color: #194F91;
}


/* end navbar layout */


.btn-link {
    font-weight: 400;
    color: #000;
    border-radius: 0;
}

.btn-link:focus, .btn-link:hover {
    color: #000;
    text-decoration: underline;
    background-color: transparent;
}

/* comments*/

.btn .caret-opinioncomment{
    margin-top: -10px;
}


/* pagina para login */
.login-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* welcome-header */

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../images/myjobsadvisor-welcome-picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.intro-message {
    position: relative;
    padding-top: 16%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 80px;
}

.intro-message > h4 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.input-group .search-input{
    height: 55px;
    border-radius: 50px;
    font-size: 20px;
}

.input-group-btn #btn-search{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-top-right-radius:  50px;
    border-bottom-right-radius:  50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 55px;

}

.navbar-form .form-control {
    width: 600px;
}


.form-control-alternative {
    display: block;
    width: 200px;
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar-form {
    margin-left: 230px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.nav>#navbar-form-alternative{
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

/* index */
.register-company-section-index{
    padding-bottom: 40px;
}

/* register companie*/
.register-header{
    background-color: #eee;
}

.register-company-section{
    padding-bottom: 5%;
    padding-top: 5%;
}
/* register user */
.register-section{
    padding-top: 80px;
    padding-bottom: 20px;
}

/* edit user */

.edit-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.change-password-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* fin edit user*/

/* user list section */
.people-section{
    margin-top: 6%;
}
/* end use list*/

/* login */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#dd4b39;
}
.btn-tw:hover{
    color: #fff;
    background-color:#bb0000;
}

/* about section */
.about-section{
    padding-top: 2%;
    padding-bottom: 3%;
}
/* end about section */


/* footer */
footer{
    background-color: #002F6D;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
}

.links-footer{
    color: #FF9E1B;
}

.links-footer:hover{
    color: #FF9E1B;
}

/* end footer */

/* profile user */
.profile-user-header{
    background-color: #eee;
    height: 350px;
}
#user-card .following-data{
    width: 8%;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#user-card .following-data a{
    color: #444;
}
#user-card .following-data a:hover{
    color: black;
    text-decoration: none;
}

#user-card .following-data .label-stat{
    display: block;
}

#user-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.opinions-section{
    padding-top: 2%;
    padding-bottom: 2%;
}

.avatar .user-logo-opinion{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.avatar .user-logo-opinion-comment{
    border-radius: 50%;
    width: 50px;
    height: 50px;

}


.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 10px;
}

/* profile company */

.profile-company-header{
    background-color: #eee;
    padding-top: 100px;
    padding-bottom: 5px;
}

.modal-body span{
    font-size: 20px;
    color: blue;
}

.company-logo, .company-pp-list{
    width: 100px;
    height: 100px;
}

.profile-picture-company{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#company-card .following-data{
    width: 8%;
    float: left;
    text-align: center;
    margin-top: 10px;
}

#company-card .following-data a{
    color: #444;
}
#company-card .following-data a:hover{
    color: black;
    text-decoration: none;
}

#company-card .following-data .label-stat{
    display: block;
}

#company-card .following-data .number-stat{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.btn-opinion-movil{
    display: none;
}

.btn-like:hover{
    color:red !important;
}

.like .active{
    color:red !important;
}

/* end profile company*/



/* boton para subir imagenes */
input[id=file] {
    display: none;
}

.comment-form .label-img{
    font-size: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

.comment-form .label-img:hover{
    cursor: pointer;
    color: grey;
}

/* search */

.search-result{
    padding-top: 10%;
    padding-bottom: 10%;
}

/* panel administrador */

.adminstrator-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.all-companies-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.comment-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.claims-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.users-section{
    margin-top: 5%;
    margin-bottom: 5%;
}



/* responsive */

@media only screen and (max-width: 736px) {

    .navbar {
        position: absolute;
        min-height: 48px;
        background-color: #FFF;
    }
    .navbar-header>.navbar-brand {
        float: left;
        padding: 5px 5px 5px 5px;
        font-size: 19px;
        line-height: 21px;
        height: 48px;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 5px;
        padding: 7px 10px;
        margin-top: 8px;
        margin-bottom: 5px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .btn-login{
        display:none;
    }

    .nav>.signin-movil{
        display: block;
    }

    .intro-message {
        position: relative;
        padding-top: 8%;
        padding-bottom: 20%;
    }

    .intro-message > h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 50px;
    }

    .navbar-default .navbar-nav>li>a {
        color: #002F6D;
    }

    .navbar-default-alternative .navbar-toggle .icon-bar {
        background-color:  #E75402;
    }

    .navbar-brand>.img-movil{
        display: block;
    }

    .navbar-brand>.img-desktop{
        display: none;
    }

    .nav>.user-logged-in{
        display: none;
    }

    #nav-movil{
        display: block;
    }

    #nav-desktop{
        display: none;
    }

    .form-control-alternative {
        display: block;
        width: 100%;
        height: 30px;
        padding: 10px 15px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #2c3e50;
        margin-right: 0px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #dce4ec;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .nav>#navbar-form-alternative {
        padding: 10px 15px;
        margin-top: 8px;
        margin-right:0px;
        margin-bottom: 8px;
        margin-left: 0px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    }

    .nav>#navbar-form-alternative {
        border-color: #e7e7e7;
    }
    /* forms */


    .form-register{
        padding-left: 0;
        padding-right: 0;
    }

    .form-group {
        margin-bottom: 5px;
        padding-left: 0;
        padding-right: 0;
    }

    .box-form-register-company{
        padding: 0px;
    }
    .box-form-register-company>h2{
        font-size: 25px;
        padding-left: 10px;
    }

    .register-company-section{
        margin-top: 8%;
        padding-bottom: 0px;
    }


    .form-contact {
        padding-left: 0;
        padding-right: 0;
    }

    .contact-section{
        padding-top: 15%;
        padding-bottom: 5%;
    }

    /* profiles */
    .profile-company-header {
        background-color: #eee;
        padding-top: 60px;
        padding-bottom: 5px;
    }

    #profile-username, #profile-company-name{
        text-align: center;
    }

    #user-card .following-data {
        width: 25%;
        float: left;
        text-align: center;
        margin-top: 10px;
    }
    #company-card .following-data {
        width: 33%;
        float: left;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn-opinion-desktop{
        display: none;
    }

    .btn-opinion-movil{
        display: block;
    }

    .register-section{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    /* opinions */
    .avatar .user-logo-opinion {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .avatar .user-logo-opinion-comment {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    /* companies list */
    #result-company, #user-result{
        font-size: 30px;
    }

    .company-logo, .company-pp-list{
        width: 70px;
        height: 70px;
    }

    .media-body>#company-description{
        margin: 0;
    }

    .result-company-section {
        margin-top: 15%;
    }

    .people-section {
        margin-top: 15%;
    }

    /* slide texto */
    .quotes-slider{
        background-color: #002F6D;
        color: white;
        font-size: 20px;
        padding-top: 2%;
    }

    .quotes-slider b{
        font-size: 15px;
    }
    /* end slide */
}

@media only screen and (max-width: 667px) {

    .intro-message > h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 50px;
    }

    .intro-message {
        position: relative;
        padding-top: 8%;
        padding-bottom: 20%;
    }
}

@media only screen and (max-width: 667px) {

    .input-group .search-input {
        height: 40px;
        border-radius: 50px;
        font-size: 20px;
    }

    .input-group-btn #btn-search {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        white-space: nowrap;
        padding: 10px 15px;
        font-size: 10px;
        line-height: 1.42857143;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 40px;
    }

    .intro-message {
        position: relative;
        padding-top: 5%;
        padding-bottom: 20%;
    }

    .intro-message > h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 50px;
    }

    .intro-message > h4 {
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 15px;
    }
}

@media only screen and (max-width: 414px) {

    .intro-header {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        color: #f8f8f8;
        background: url(../images/myjobsadvisor-welcome-picture.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
    }

    .intro-message {
        position: relative;
        padding-top: 30%;
        padding-bottom: 20%;
    }

    .intro-message > h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 50px;
    }

    .intro-divider {
        width: 200px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
