<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #eee;">

  <div class="container" style="background-color: white;">
    <br>
    <h2>Hola, {{ user }}</h2>
    <p>Parece que has olvidado la contraseña de tu cuenta, no te preocupes, aqui podras encontrar una temporal. <br>Antes permitenos darte unas recomendaciones</p>

    <h3>Recomendaciones:</h3>
    <p>La contraseña proporcionada por el equipo de MyJobsAdvisor es una contraseña temporal, por seguridad,
    recomendamos que hagas el cambio de esta misma lo mas pronto posible.</p>

    <h3>¿Cómo hacer el cambio de contraseña?</h3>
    <p>Al iniciar sesión, puedes dirigirte al menu despegable: <b>Editar perfil>Cambiar contraseña</b> y ahi ingresar la contraseña que desees. </p>

    <p>* Tu contraseña temporal es: <b>{{ password }}</b></p>

    <p>Cualquier duda o aclaración, no dudes en enviarnos un mensaje a: <b>contacto@myjobsadvisor.com</b></p>

    <p>Atentamente, <br> El equipo de MyJobsAdvisor</p>
  </div>

</body>
</html>
