{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
{% block content %}
    
    <div class="container">
        <div class="col-lg-12">
            <h2 class="page-header">Da de alta una empresa</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div> 
            <div class="col-lg-6 box-form">
                {{form_start(form, {'action':'', 'method':'POST'})}}
                {{form_errors(form)}}
                {{form_end(form)}}
            </div>
        </div>
        
    </div>
    

{% endblock %}