{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}
{% block content %}
    <section class="contact-section">
        <div class="container">
            <div class="row">
                {% for message in app.session.flashbag().get('success') %}
                    <div class="col-lg-12">
                        <div class="alert alert-success">{{ message }}</div>
                    </div>
                {% endfor %}
                <div class="col-lg-6 form-contact">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Envíanos un mensaje</h4></div>
                        <div class="panel-body">
                            <form action="{{ path('pages_contact') }}" >
                                <div class="form-group">
                                    <label for="name">Nombre completo</label>
                                    <input type="text" class="form-control" id="name" placeholder="Nombre completo" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" placeholder="Correo electronico" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="subject">Asunto</label>
                                    <input type="text" class="form-control" id="subject" placeholder="Asunto" name="subject">
                                </div>
                                <div class="form-group">
                                    <label for="message">Tu mensaje</label>
                                    <textarea class="form-control" id="message" rows="3" placeholder="Tu mensaje" name="message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default btn-block btn-contact ">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="page-header no-margin">Información de contacto</h2>
                    <p><b>N° de Teléfono 1:</b> +52 1 984 164 3269</p>
                    <p><b>N° de Teléfono 2:</b> +52 1 984 168 4082</p>
                    <p><b>Correo electrónico:</b> contacto@myjobsadvisor.mx</p>
                    <h3>Conéctate con nosotros</h3>
                    <p><b>Facebook:</b> <a href="https://www.facebook.com/myjobsadvisor" target="_blank" class="social-links">@myjobsadvisor</a></p>
                    <p><b>Twitter:</b> <a href="https://twitter.com/Myjobsadvisor/" target="_blank" class="social-links">@myjobsadvisor</a></p>
                    <p><b>Instagram:</b> <a href="https://www.instagram.com/Myjobsadvisor/" target="_blank" class="social-links">@myjobsadvisor</a></p>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
