{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block content %}
    
    <div class="col-lg-12">
        <h1>Panel de administrador</h1>
        <hr />
    </div>
    
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <h2><span class="span-validate glyphicon glyphicon-alert"></span></h2>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h4 class="huge">26</h4>
                            <p>Empresas sin validar</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="{{path("administrar_empresa")}}">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <h2><span class="span-validate glyphicon glyphicon-comment"></span></h2>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h4 class="huge">30</h4>
                            <p>Comentarios sin validar</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <h2><span class="span-validate glyphicon glyphicon-user"></span></h2>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h4 class="huge">19</h4>
                            <p>Administrar usuarios</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#">Ver detalles</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <h2><span class="span-validate glyphicon glyphicon-remove-circle"></span></h2>
                        </div>
                        <div class="col-xs-9 text-right">
                            <h4 class="huge">23</h4>
                            <p>Administrar empresas</p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Empresas pendientes</h3>
                </div>
                <div class="panel-body">
                    <p>Aquí van las empresas pendientes</p>
                    <a href="{{path("administrar_empresa")}}">Ver empresas</a>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuarios registrados</h3>
                </div>
                <div class="panel-body">
                    <p>usuarios registrados</p>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Descargar informació</h3>
                </div>
                <div class="panel-body">
                    <p>opción de descargar</p>
                </div>
            </div>
        </div>
    </div>-->
{%endblock%}