{% extends "AppBundle:Layouts:layoutprofiles.html.twig"%}

{% block content %}
    <section class="login-section">
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4">
                {%for message in app.session.flashbag().get('status')%}
                    <div class="alert alert-success">{{message}}</div>
                {%endfor%}

                <form action="{{path('user_login')}}" class="form-signin" role="form" method="post" accept-charset="UTF-8">
                    <h2 class="form-signin-heading">Iniciar sesión</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" name="_username" placeholder="Correo electronico" required autofocus>
                    <br>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="_password" placeholder="Contraseña" required>
                    <br>
                    <label>¿No tienes una cuenta? <a href="{{path("user_register")}}"><b>Registrate</b></a></label>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                    <input type="hidden" name="_target_path" value="/perfil">
                </form> 
            </div>
        </div>
    </section>
    

{% endblock %}